.attribution {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}

.btn {
  background-color: #EAF6F6;
  border-radius: 40px;
  border-color: #EAF6F6;
  border-width: 2px;
  margin-top: 4rem;
  width: 70%;
  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  padding: 8px 10px;
}

.btn-sedans {
  color: #D88832;
}

.btn-suvs {
  color: #006B72;
}

.btn-luxury {
  color: #004140;
}

.btn-sedans:hover {
  background-color: #D88832;
  color: #EAF6F6;
}

.btn-suvs:hover {
  background-color: #006B72;
  color: #EAF6F6;
}

.btn-luxury:hover {
  background-color: #004140;
  color: #EAF6F6;
}

.card-title {
  color: #EAF6F6;
  font-family: 'Big Shoulders Display', cursive;
  padding: 2rem 0;
  margin: 0
}

.card-text {
  text-align: left;
  color: #EAF6F6;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.60;
}

.col {
  padding: 0;
}

.card {
  padding: 15% 15% 15% 20%;
}

.card-stack {
  width: 65%;
  margin: 5rem auto 2rem;
}

.card-img {
  position: relative;
  width: 40%;
}

.card-sedans {
  background-color: #D88832;
  border-radius: 10px 0 0 10px;
}

.card-suvs {
  background-color: #006B72;
}

.card-luxury {
  background-color: #004140;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 576px) {
  .card-stack {
    width: 90%;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  .card-sedans {
    border-radius: 10px 10px 0 0;
  }

  .card-luxury {
    border-radius: 0 0 10px 10px;
  }

  .card {
    padding: 15% 20% 15% 15%;
  }

  .card-text {
    font-size: 18px;
    opacity: 0.60;
  }

  .btn {
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px 20px;
    margin: 1rem 0 0;
    width: 60%;
  }
}
