h1 {
  color: #EAF6F6;
  font-family: 'Big Shoulders Display', cursive;
  padding: 2rem 0;
  margin: 0
}

.attribution {
  text-align: center;
  margin-top: 3rem;
  font-family: 'Lexend Deca', sans-serif;
}

.card-text {
  text-align: left;
  color: #EAF6F6;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  line-height: 2;
  opacity: 0.75;
}

.col {
  padding: 0;
}

.card {
  padding: 15% 20%;
}

.card-stack {
  width: 60%;
  margin: 5rem auto;
}

.btn {
  background-color: #EAF6F6;
  border-radius: 40px;
  border-color: #EAF6F6;
  margin-top: 4rem;
  width: 70%;
  font-size: 14px;
  padding: 6px 10px;
}


.btn-sedans {
  color: #D88832;
}

.btn-suvs {
  color: #006B72;
}

.btn-luxury {
  color: #004140;
}

.btn-sedans:hover {
  background-color: #D88832;
  color: #EAF6F6;

}

.btn-suvs:hover {
  background-color: #006B72;
  color: #EAF6F6;
}

.btn-luxury:hover {
  background-color: #004140;
  color: #EAF6F6;
}

.card-img {
  position: relative;
  width: 40%;
}

.card-sedans {
  background-color: #D88832;
}

.card-suvs {
  background-color: #006B72;
}

.card-luxury {
  background-color: #004140;
}

@media (max-width: 576px) {
  .card-stack {
    width: 80%;
  }
}
